body{
    font-family: Harrington;
    font-size: 2vw;
    text-align: center;
    margin: auto;
    width: 60%;
    border: 3px solid red;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

h1 {
    font-family: Harrington;
    font-size: 4vw;
    margin: auto;
}

p {
   font-family: Times New Roman;
   font-size: 1vw;
   text-align: center;
   margin: 15px;
   border: 3px solid brown;
   padding: 20px;
}

input[type="text"] {
    font-family: Times New Roman;
    font-size: 2vw;
    margin: auto;
}


input[type="submit"] {
    font-family: Times New Roman;
    font-size: 2vw;
    margin: auto;
}
