<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D&D Q&A Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <img src="./static/d20-2699387_1280.png" alt="D20" style="width:190px;height:200px;">
    <h1>Welcome to the DND Q&A Bot!</h1>
    <h2>Ask any question you would look up in your sourcebook and be amazed!</h2>
    <form method=post>
        <input type=text name=user_query placeholder="Search"/>
        <input type="submit" value="Make a history check"/>
    </form>
    <p>{{response}}</p>
    <div class="button-container">
        <button id="show_hide_button" onclick="toggleVisibility()">Show Q/A History</button>
        <form action="{{url_for('main.clear_history')}}", method="post">
            <button type="submit">Clear History</button>
        </form> 
    </div>
    <ul id="q_history" class="hidden">
        {% for q in history %}
            <li>{{ q.content }}: {{ q.reply }} | {{ q.date}}</li> 
        {% endfor %}
    </ul>
    <script>
        function toggleVisibility() {
            var element = document.getElementById("q_history");
            element.classList.toggle("hidden");

            var button = document.getElementById("show_hide_button")

            if (element.classList.contains("hidden")) {
                button.textContent = 'Show Q/A History'
            }
            else {
                button.textContent = 'Hide Q/A History'
            }
        }
    </script>
</body>
</html>
